@using HealthCare.Core.Data
@using HealthCare.Core.Models.Users
@using HealthCare.WebApp.Models
@using Microsoft.AspNetCore.Identity;
@using HealthCare.WebApp.Models;
@using Microsoft.EntityFrameworkCore
@inject FeedbackService feedbackService
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (!feedbackSubmitted)
{
    <div>
        <h3>Leave Feedback</h3>
        <input type="text" @bind="userFeedback" />
        @foreach (var option in ratingOptions)
        {
            <label>
                <input type="radio" value="@option" checked="@(rating == option)" @onclick="() => SetRating(option)" />
            </label>
        }

        <p>@rating</p>

        <button @onclick="SubmitFeedback" class="btn-primary">Submit Feedback</button>
    </div>
}
else
{
    <p>Feedback submitted. Thank you!</p>
}




    

@code {

    [Parameter]
    public int appointmentId { get; set; }

    private string userFeedback;
    private int rating;
    private List<int> ratingOptions = new List<int> { 1, 2, 3, 4, 5 };
    private bool feedbackSubmitted;

    public FeedbackComponent(){}


    private void SetRating(int value)
    {
        rating = value;
    }

    private void SubmitFeedback()
    {
        feedbackService.SaveFeedback(userFeedback, rating, appointmentId);
        feedbackSubmitted = true;


        // reset the input field
    }
    
    }

