<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
        @if (context.User.IsInRole("Doctor"))
        {
            <p style="margin: 0;">Signed in as: Doctor</p>
        }
        else if (context.User.IsInRole("Nurse"))
        {
            <p style="margin: 0;">  Signed in as: Nurse</p>
        }
        else if (context.User.IsInRole("Patient"))
        {
            <p style="margin: 0;">Signed in as: Patient</p>
        }
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
