@*the AppointmentService is added in program.cs *@
@inject FeedbackService feedbackService
@*sets the component as a route, nav is changes to this route => see NavMenu*@
@page "/feedback"

<h3>Past Feedback:</h3>
@foreach (var feedback in feedbackService.GetAllFeedback())
{
    <p>@feedback.Body</p>
    <p>Rating: @feedback.Rating/5</p>
}

@code {
    
}
