@*the AppointmentService is added in program.cs *@
@inject FeedbackService feedbackService
@*sets the component as a route, nav is changes to this route => see NavMenu*@
@page "/feedback"

<h3>Leave Feedback</h3>
<input @bind="userFeedback" />
<button @onclick="SubmitFeedback">Submit Feedback</button>

<h3 class="feedback">All Feedback</h3>
@foreach (var feedback in feedbackService.GetAllFeedback())
{
    <p>@feedback</p>
}

@code {
    private string userFeedback;

    private void SubmitFeedback()
    {
        feedbackService.SaveFeedback(userFeedback);
        // reset the input field
        userFeedback = string.Empty; 
    }
}
